* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
html {
    height: 101%;
}
body {
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_column {
    flex-direction: column;
}
.content_homepage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.banner {
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/bgi_compressed.jpg");
    background-size: cover;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    background-position: center center;
    font-size: xx-large;
}
.color_white {
    color: white;
}
.whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
}
.swiper_container_gallery {
    height: 100%;
    width: 100%;
}
.swiper_slide_gallery {
    display: flex;
}
.menu {
    height: 120px;
    justify-content: space-around;
}
.mobile-block {
    display: none;
}
.carousel {
    width: 45vw;
}
.carousel_margin {
    gap: 1rem;
    margin: 1rem;
}
.swiper_slide_gallery > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
    .carousel_mobile_column {
        flex-direction: column;
    }
@media only screen and (max-width: 1024px) {
    .carousel_mobile_column {
        flex-direction: column;
    }
    .carousel {
        width: 90vw;
    }
    .title {
        display: flex;
        justify-content: center;
    }
    .mobile-none {
        display: none;
    }
    .mobile-block {
        display: block;
    }
    .mobile_banner_title {
        font-size: 2.5rem;
    }
    .menu_links {
        display: none;
    }
}
