*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
  height: 101%;
}
body{
  margin: 0;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_column{
 flex-direction: column;
}
.content_homepage{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.banner{
  z-index: -1;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bgi_compressed.jpg);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  background-position: center center;
}
.color_white{
  color: white;
}
.whatsapp{
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.swiper_container_gallery{
  height: 100%;
  width: 600px;
}
.swiper_slide_gallery{
  display: flex;
  justify-content: center;
  height: 600px;
}
.menu{
  height: 120px;
}